<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">
 
     <title>Signin Template for Bootstrap </title>
       <!-- Bootstrap Core CSS -->

  <link rel="stylesheet" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}"></link>
    <script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
     <script src="{{url_for('static', filename='bower_components/d3/d3.min.js')}}"></script>
      <script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}">
      </script>
      <script src="{{url_for('static', filename='script.js')}}">
      </script>
 
 </head>
 
 <body>
 
     <div class="container">
 
         <form class="form-signin" action="/signUp" method="post" role="form">
             <h2 class="form-signin-heading">Please Sign Up </h2>
             <input type="email" name="usernametest" class="form-control" placeholder="Email address" required autofocus>
             <input type="password" name="passwordtest" class="form-control" placeholder="Password" required>
    
             <button class="btn btn-lg btn-primary btn-block" type="button">Register </button>
         </form>
      
     </div>
   
 </body>
 
 </html>